@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }

@theme inline {

  --font-roboto: var(--font-roboto-sans);
  --color-main: #5E3BEE;
  --color-shade: #F5FCFF;
  --breakpoint-xs: 480px;
}
.btn-outline{
@apply hover:bg-main border-main rounded-md
}
body {
  font-family: var(--font-roboto-sans);
}
